.certificate__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid transparent;

}


#certificate .btn__certificate{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn__certificate a{
    border-bottom: 1px solid transparent;
    color: var(--color-white);
}

.btn__certificate a:hover{
    border-bottom: 1px solid var(--color-primary);
}

.btn__certificate a .active{
    color: var(--color-primary);
    border : 1px solid black;
}

.swiper__container,
.swiper__container2{
    width: 100%;
}

.swiper__container,
.swiper__container2 img {
    border-radius: 1rem;
}

.title{
    color: var(--color-primary);
}

.type__date{
   display: flex;
   justify-content: space-between; 
}

.type__date >p:nth-child(2){
    color: var(--color-light);
    font-style: italic;
}

.info__item > p{
    margin-top: 5rem;
    text-align: justify;
}

/*================ MEDIA QUERIES (Meduim Devices)=============================*/
@media screen and (max-width: 1024px) {
    .certificate__container{
        grid-template-columns: 1fr;
    }

}
@media screen and (max-width: 600px) {

    #certificate{
        margin-top: 20rem;
    }
    #certificate .btn__certificate{
        gap: 1rem;
        align-items: center;   
    }

    .btn__certificate a{
        font-size: 1rem;
    }
    .title{
        font-size: 0.9rem;
    } 

    .type__date{
        font-size: 0.8rem;
    }

    .info__item > p{
        font-size: 0.8rem;
    }
}