#experience{
    padding-top: 5rem;
}
.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/**Animation */
.hidden{
    opacity: 0;
    transition: 1s;
    transform: translate(-40%);
}

.show{
    opacity: 1;
    transform: translate(0%);
}


.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}


.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icons {
    margin-top: 6px;
    color: var(--color-primary);
}


/**============== Media Query (Medium Devices) ================*/
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    
    .experience__content{
        padding: auto 2rem;
        gap: 1rem;
    }


}


/**============== Media Query (Small Devices) ================*/
@media screen and (max-width: 600px) {
    .experience__container > div {
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
    }
    .experience__details small{
        display: none;
        font-size: 15px;
    }
    .experience__details > div{
        font-size: 10px;
    }
    .experience__details-icons {
        margin-top: 0;
    }
}
